<h1>Ktory z nich Wybrac?</h1>
<h2>Po przeczytaniu wybierz najlepsza dla siebie opcje. ;)</h2>
<div class="container">
  <div class="row">
    <div class="input-group col-sm-5 mb-3 mx-auto">
      <div class="input-group-prepend ">
        <span class="input-group-text" id="inputGroup-sizing-default">Wyszukaj</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" *ngFor="let post of posts">
    <app-blog-item id={{post.id}} text={{post.text}} image={{post.image}}></app-blog-item>
  </div>
</div>
